body {
    padding-top: 50px;
    height: 100%;
    /*background-color: #333;*/
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    /*-webkit-box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);*/
    /*-moz-box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);*/
    /*box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);*/
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color:whitesmoke;
    font-family: 'Satisfy', cursive;

}
h3{
    color:whitesmoke;

}
.white-label{
    color:whitesmoke;
}
.navbar {
   border-radius: 0;
   /*background-color: transparent;*/
   background: transparent;
   border-color: transparent;
}

.navbar-brand{
    font-family: 'Satisfy', cursive;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}


/* Profile sidebar */
.profile-sidebar {
    background-color: white;
    margin-left: 20px;
    margin-top: 20px;
}


.sidebar-background {
  /*background: #F1F3FA;*/
}

