<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    {% load static %}
    <script src="{% static 'js/jQuery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-dialog.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Satisfy"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-dialog.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    {% block head %}
    {% endblock %}
</head>

{% if background %}
<body background="{% static background %}">
{% else %}
<body background="{% static 'images/food9.jpg' %}">
{% endif %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;Foodaholics</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

                {% if title == "Restaurants" %}
                    <li class="active"><a href="/restaurants/"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>&nbsp;Restaurants</a></li>
                {% else %}
                    <li class=""><a href="/restaurants/"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>&nbsp;Restaurants</a></li>
                {% endif %}
                {% if title == "People" %}
                    <li class="active"><a href="/people/"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;People</a></li>
                {% else %}
                    <li class=""><a href="/people/"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;People</a></li>
                {% endif %}
                {% if title == "Recipes" %}
                    <li class="active"><a href="/recipes/"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Recipes</a></li>
                {% else %}
                    <li class=""><a href="/recipes/"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Recipes</a></li>
                {% endif %}
                {% if title == "Events" %}
                <li class="active"><a href="/event/"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Events</a></li>
                {% else %}
                    <li class=""><a href="/event/"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Events</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right pull-right">

                <form class="navbar-form navbar-left" role="search" method="get" action="#">
                    <div class="form-group">
                        <input type="text" size="25" placeholder="Restaurants Recipes People" class="form-control" name="q" value="{{ request.GET.q }}">
                    </div>
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;
                    </button>
                </form>

                {% if user.is_authenticated %}
                    <li><a href="#">Welcome, {{ user.username }}</a></li>
                    <li><a href="/accounts/logout"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Logout</a></li>
                {% else %}
                    <li><a href="/accounts/login"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Login</a></li>
                    <li><a href="/accounts/register">Register&nbsp;<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
{% block outcontent %}
{% endblock %}

{% block content %}
{% endblock %}
<div class="container">
{% block incontent %}
{% endblock %}
</div>
</body>
</html>