{% extends 'base.html' %}
{% block head %}
    {% load static %}
{#    <script src="{% static 'js/datepicker.js' %}"></script>#}
{#    <link href="{% static 'css/datepicker.css' %}"/>#}
{#    <script type="text/javascript">#}
{##}
{#        $(document).ready(function () {#}
{##}
{#            $('#datetimepicker1').datetimepicker();#}
{#        });#}
{#    </script>#}


{% endblock %}
{% block content %}
    <div class="profile-sidebar" style="padding:10px">
        {% load custom_tags %}
        <form method="POST" action="/create_event/">
            {% csrf_token %}
            <h1 style="color: black">Event at : {{ data.name }}</h1>
            <div class='input-group date' id='datetimepicker1'>
                <input type='text' class="form-control"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>
            <h2 style="color: black">Invite Friend(s)</h2>
            <input type="hidden" name="restaurant_id" value="{{ data|get:"_id" }}"/>
            {% for friend in friends %}
                <input type="checkbox" name="{{ friend.user_id2 }}"/> <label>{{ friend.user_id2 }}</label>

            {% endfor %}
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
{% endblock %}