{% extends 'base.html' %}


{% block head %}
    <script>
        function sendFileToDb() {
            var file = document.querySelector('#user_image').files[0];
            var reader = new FileReader();

            reader.addEventListener("load", function () {
                $.ajax({
                    url: '/upload_user_image/',
                    type: 'post',
                    data: {
                        csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                        image_base64: reader.result
                    },
                    success: function () {
                        $("#user_pic_holder").html("");
                        $("#user_pic_holder").append("<img src='" + reader.result + "' class=\"img-responsive\" alt=\"\" width=\"100%\" height=\"100%\"/>");
                    }
                });
            }, false);

            if (file) {
                reader.readAsDataURL(file);
            }
        }

        $(document).ready(function () {
            $("#showModal").click(function () {
                $("#uploadImageModal").modal('toggle');
            });
            $("#user_image").change(function () {
                sendFileToDb();
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <!-- Modal -->
    <div id="uploadImageModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <input type="file" id="user_image"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="row profile">
        <div class="col-md-2">
            <div class="profile-sidebar" align="center" style="padding: 10px">
                <!-- SIDEBAR USERPIC -->
                {% load static %}
                {% if profile_pic %}
                    <div class="profile-userpic" id="user_pic_holder">
                        <img src="{{ profile_pic }}" class="img-responsive" alt="" width="100%" height="100%"/>
                    </div>
                {% else %}
                    <div class="profile-userpic" id="user_pic_holder">
                        <img src="{% static 'images/user_default.png' %}" class="img-responsive" alt="" width="100%" height="100%">
                    </div>
                {% endif %}
                <br/>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        <button class="btn btn-primary btn-sm" id="showModal"> Upload New Pic</button>
                        {#                        <a href="#" data-toggle="modal" data-target="uploadImageModal">Upload New Pic</a>#}
                    </div>
                </div>
                <br/>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{ full_name }}
                    </div>
                </div>
                <br/>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-user"></i>
                                Account Settings </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-7">
            <h1>Recipes</h1>
            <div class="profile-sidebar" style="padding: 10px">
                {#            <div class="">#}
                <hr/>
                <br/>
                {% for recipe in recipes %}
                    <div class="row">
                        <div class="col col-md-6">
                            <label>{{ recipe.dish_title }}</label>
                        </div>
                        <div class="col col-md-6 pull-right">
                            <label>Cooking Time: {{ recipe.cooking_time }}</label>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col col-md-6">
                            <label>Ingredients:</label><br/>
                            {{ recipe.ingredients|safe }}
                        </div>
                        <div class="col col-md-6">
                            <label>Cooking Directions:</label><br/>
                            {{ recipe.directions }}
                        </div>
                    </div>
                    <br/>
                    <a href="/delete_recipe?recipe_id={{ recipe.food_recipe_id }}"> Delete Recipe </a>
                    <hr/>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-2">
            <h1>Friend Requests</h1>
            <div class="profile-sidebar" style="padding: 10px">
                <hr/>
                <ul>
                    {% for friend_request in friend_requests %}
                        <li>
                            {{ friend_request.user_id1 }}
                            <a class="btn btn-success" href="/accept_request?user_id={{ friend_request.user_id1 }}">Accept </a>
                            <a class="btn btn-danger" href="/reject_request?user_id={{ friend_request.user_id1 }}">Reject </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <hr/>
            <h1>Events</h1>
            <div class="profile-sidebar" style="padding: 10px">
                <hr/>
                <ul>
                    {% for event in events %}
                        <li>
                            {{ event}}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

